.EmptyCategory{
    background-color: rgba(182, 216, 255, 0.466);
    margin-bottom: 2px;
    border-radius: 5px;
    padding: 25px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    height: auto;
  
}

.EmptyCategory .AddNewGoal{
    display: inline-block;
    margin-right: 15px;
    padding-top: 5px;
 
}


.EmptyCategory h2{
    padding-top: 3px;
}

.EmptyCategory p{
    display: none;
}

.EmptyCategory button{
    margin-top: 6px;
    height: 32px;
    
}



@media only screen and (min-width: 600px) {
    .EmptyCategory p{
        display: inline;
        margin-top: 6px;
        padding-right: 15px;
    }
    
    .EmptyCategory .AddNewGoal{
        
        display: flex;
        flex-direction: row;
        margin-right: 5px;
        
    }    
  }