.EditCategory{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
  
    height: auto;
    
}


.EditCategory .EditControls{

    display: flex;
    flex-direction: row;
    align-items: center;
   
}