.NavigationItems {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-items: end;
    

}



@media only screen and (min-width: 600px) {
    .NavigationItems{
        flex-direction: row;
    }


}