.QuotePanel{
    width: 75%;
    margin: 0px auto;
    text-align: center;
}

.Heading h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    background-color:#6A89B4 ;
    padding: 5px 0;
    margin-bottom: 0;
}

.Content p{
    margin-top: 0;
    padding: 15px 5px;
    color:#7B8D93;
    background-color:#DCE5E8;
    font-size: medium;

}


@media only screen and (min-width: 600px) {
    .QuotePanel{
      width: 580px;
    }
  }

  @media only screen and (min-width: 992px) {
    .QuotePanel{
      width: 650px;
    }
  }


  @media only screen and (min-width: 1200px) {
    .QuotePanel{
      width: 800px;
    }
  }


