.NewGoal {
    box-sizing: border-box;
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 70px auto 0 auto;
    border-radius: 6px;
    

  
}

.NewGoal h2{
    margin-top: 5px;
    text-align: center;
    color: #5C7EAD;
    letter-spacing: 2px;
}

.NewGoal p{
    text-align: center;
    color: #7B8D93;
}

.NewGoal hr{
    border: 0.1px solid #e6df19;
    background-color: #e6df19;
    
}


@media only screen and (min-width: 600px) {
    .NewGoal{
      height: auto;
      width: 580px;
      margin: 0;
      position: absolute;
      top: 45%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border: 5px solid rgb(77, 109, 154,0.3);

    }
  }

  @media only screen and (min-width: 992px) {
    .NewGoal{
      width: 650px;
      
    }
  }


  @media only screen and (min-width: 1200px) {
    .NewGoal{
      width: 800px;
      
    }
  }


