.Input{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}



.Label{
    font-weight: bold;
    display: block;
    margin-bottom:5px;
    text-align: left;

}

.ValidInputElement{
    outline: none;
    font:inherit;
    padding: 6px 10px;
    border: 1px solid #ccc;
    background-color: white;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.ValidInputElement:focus{
    outline: none;
    background-color:rgb(238, 238, 238);
}


.InvalidInput{
    background-color: rgb(253, 165, 155);
    border: 1px solid red;
}